.sidebar-container{
    background-color: #999;
    width: 30%;
    display: flex;
    flex-direction: column;
    
    padding-top: 20px;
}

.sidebar-container-search {
    margin: 20px 30px;
    border-radius: 10px;
    outline: none;
    border: none;
    height: 30px;
    display: flex;
    align-self: stretch;
    padding-left: 20px;
  

}

.sidebar-container-header {
    border-bottom: 1px solid #696969;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: normal;
    font-size: 50px;

}

.sidebar-container-footer {
    border-top: 1px solid #696969;
    padding: 10px 30px;
    display: flex;
    align-items: center;
   
}

.sidebar-container-footer-input {
    border-radius: 10px;
    outline: none;
    height: 60px;
    margin-right: 15px;
    font-size: 10px;
    padding-bottom: 30px;
    padding-left: 10px;
    
}
.sidebar-container-footer-button {
    height: 40px;
    width: 40px;
    background-color: green;
    color: aliceblue;
    border: none;
    border-radius: 7px;
  


}